body {
  background-color: #f5f5f5;
}

.contact-hero {
 background: 
    linear-gradient(rgba(0, 0, 0, 0.38), rgba(22, 22, 22, 0.72)),
    url("https://www.lincad.co.uk/wp-content/uploads/2022/08/contact-us-scaled-1.jpg");
  height: 20rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;      /* full width, no zoom distortion */
  background-attachment: fixed; /* prevents blur on scroll */

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  border-radius: 10px;
  color: #fff

}


.building {
  width: 200px;
  height: 250px;
  background: linear-gradient(135deg, #c9a961 0%, #a67c52 100%);
  border-radius: 8px;
  position: relative;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.building::before {
  content: "";
  position: absolute;
  top: -30px;
  right: 20px;
  width: 80px;
  height: 80px;
  background: linear-gradient(135deg, #d4a574 0%, #b8956a 100%);
  border-radius: 4px;
}
/* 

.map{
     width:30rem;
     height:20rem;
      border:2px solid rgb(68, 70, 68);
    
} */
.contact-card {
  background: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}


.section-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.section-text {
  font-size: 14px;
  color: #666;
  margin-bottom: 25px;
}

/* 
.map-placeholder,.map {
  height: 300px;
  border-radius: 8px;
  background: linear-gradient(135deg, #e8f0f0 0%, #d0e8e8 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7ab3b5;
}  */


.map {
  height: 22rem;
  width: 29rem;
  border-radius: 8px;
  background: linear-gradient(135deg, #e8f0f0 0%, #d0e8e8 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7ab3b5;

  box-shadow:
    0 0 0 1px rgba(0, 0, 0, 0.08), /* border line */
    0 12px 30px rgba(0, 0, 0, 0.25);
}

.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  font-size: 14px;
  color: #555;
}

.contact-icon {
  width: 16px;
  height: 16px;
  background: #5f9ea0;
  border-radius: 50%;
  margin-right: 10px;
}


.submit-btn {
  background: #4db8a8;
  color: #fff;
  padding: 10px 28px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 4px;
}

.submit-btn:hover {
  background: #3fa89a;
}
