.table-header {
  background:#a3485a !important;
  color: white !important;
  font-weight: 600;
  letter-spacing: 0.5px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

/* .table-header th {
  padding: 12px;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  color: rgb(109, 5, 5);
  border-right: 1px solid rgb(255, 255, 255);
  background: #9bceac;
    position: sticky !important;
  top: 0;
  z-index:1;
  
} */


.table-header th {
  padding: 12px;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  color: rgb(109, 5, 5);
  border-right: 1px solid rgb(255, 255, 255);
  background: #9bceac;


}


.table-header th:last-child {
  border-right: none;
}

.table-container {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 3px 10px rgba(201, 91, 91, 0.76);
}
.custom-row-border {
  border-bottom: 2px solid #9a9a9b !important; /* change color here */
}